.product-info {
  min-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #542fdac0;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: table;
}

.product-info h1 {
  font-size: 32px;
  color: rgb(110, 181, 223);
}

.product-info p {
  color: rgb(185, 174, 174);
  line-height: 24px;
  margin-top: 5px;
}

.product-info p a {
  color: rgba(255, 255, 255, 0.644);
}
